#card{
    transition: 0.3s;
	position: relative;
}
#card:hover{
    transition: 0.3s;
    box-shadow: 10px 10px #454545;
    color: wheat;
}

#videos{
	transition: 0.3s;
	position: relative;
	border-radius: 15px;
	
}
#videos:hover{
	transition: 0.3s;
	border-radius: 30px;
}