#card{
    transition: 0.3s;
	position: relative;
}
#card:hover{
    transition: 0.3s;
    box-shadow: -5px -5px ;
    color: wheat;
}

#img{
	transition: 0.3s;
	position: relative;
	border-radius: 15px;
	box-shadow: -2px -3px black;
}
#img:hover{
	transition: 0.3s;
	width: 104%;
	height: 104%;
	box-shadow: -10px -15px black;
}

#text{
	transition: 0.3s;
}
#text:hover{
	transition: 0.3s;
	cursor: pointer;
	opacity: 80%;

}
